#curt{
    padding-bottom: 100px;
}
.manue{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.h1 h4{
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.h2 ul {
    display: flex;
}
.h2 ul li {
    margin-bottom: 0;
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    margin-right: 140px;
    font-family: 'Josefin Sans', sans-serif;
}
.h2 ul li:last-child{
    margin-right: 0;
}
.crht{
    text-align: center;
}
.crht h4{
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.c1{
    display: flex;
    justify-content: space-between;
}
.cr1{
    display: flex;
    gap: 60px;
}
.cr2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.crtext h6{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.crtext p{
    margin-bottom: 0;
    color: #A1A8C1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.cr3{
    padding-right: 90px;
    display: flex;
    align-items: center;
}
.cr4{
    display: flex;
    align-items: center;
}
.cr3 strong{
    color: #15245E;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.minus{
    padding: 4px 8px;
    background-color: #E7E7EF;
    color: #BEBFC2;
}
.one{
    padding: 4px 8px;
    background-color: #F0EFF2;
    color: #BEBFC2;
}
.plus{
    padding: 4px 8px;
    background-color: #E7E7EF;
    color: #BEBFC2;
}
.cr5{
    padding-left: 70px;
    display: flex;
    align-items: center;
}
.cr5 strong{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.clft{
    padding-bottom: 15px;
    border-bottom: 1px solid;
}
.crfrm{
    
    padding: 30px;
    background-color: #F4F4FC;
    border-radius: 10px;
}
.ct{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A1A8C1;
}
.crt1{
    font-size:15px ;
    color: #000000;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.ct2 p {
    text-align: left;
    font-size: 12px;
}
.ct2 p i{
    text-align: left;
    font-size: 12px;
    margin-right: 10px;
    padding: 2px;
    background-color: #19D16F;
    color: white;
    border-radius: 5px;
}
.crht button{
    margin-top: 10px;
    font-size: 14px;
    color: #F4F4FC;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 10px;
    background-color: #19D16F;
}
#crth{
    margin-top: 40px;
}
.cbtn button{
    padding: 13px 24px;
    background-color: fuchsia;
    font-size: 14px;
    color: #F4F4FC;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}