#curt{
    padding-bottom: 100px;
}
.manue{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.h1 h4{
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.h2 ul {
    display: flex;
}
.h2 ul li {
    margin-bottom: 0;
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    margin-right: 140px;
    font-family: 'Josefin Sans', sans-serif;
}
.h2 ul li:last-child{
    margin-right: 0;
}
.crht{
    text-align: center;
}
.crht h4{
    color: #1D3178;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.c1{
    display: flex;
    justify-content: space-between;
}
.cr1{
    display: flex;
    gap: 60px;
}
.cr2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.crtext h6{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.crtext p{
    margin-bottom: 0;
    color: #A1A8C1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.cr3{
    padding-right: 90px;
    display: flex;
    align-items: center;
}
.cr4{
    /* padding-right: 90px; */
    display: flex;
    align-items: center;
}
.cr3 strong{
    color: #15245E;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.minus{
    padding: 8px 4px;
    background-color: #E7E7EF;
}