#chair{
    padding-bottom: 100px;
}
.c1{
    padding: 13px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 4px 12px 4px;
}
.cimg img{
    margin-bottom: 10px;
}

.cimg:last-child img{
    margin-bottom: 0;
}
.ctext{
    margin: 100px 0;
}
.ctext h4{
    font-size: 36px;
    color:#0D134E ;
    font-weight:600 ;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.ctext i{
    /* font-size: 36px; */
    color:#FFC416 ;
    font-weight:600 ;
    padding-bottom: 20px;
}
.ctext p{
    font-size: 16px;
    color:#151875 ;
    font-weight:400 ;
    font-family: 'Josefin Sans', sans-serif;
}
.ctext p span{
    font-size: 16px;
    color:red ;
    font-weight:400 ;
    margin-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.ctext strong{
    display: block;
    font-size: 16px;
    color:#151875 ;
    font-weight:600 ;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.ctext h6{
    font-size: 16px;
    color:#A9ACC6 ;
    line-height: 29px;
    font-weight:400 ;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.ctext h5{
    font-size: 16px;
    color:#151875 ;
    font-weight:400 ;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
/* description */
#dis{
    padding: 100px 0;
    background-color: #F9F8FE;
    margin-bottom: 100px;
}
.dmenue{
    display: flex;
    gap: 75px;
}

.dmenue a {
    font-size: 24px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
}


/* Active Menu */
.dmenue a.active{
    border-bottom: 2px solid black;
}
.dis{
    padding-top: 50px;
}
.dis h5{
    font-size: 22px;
    color: #0D134E;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
}