#chair{
    padding-bottom: 100px;
}
.c1{
    padding: 13px;
}
.cimg img{
    margin-bottom: 10px;
}

.cimg:last-child img{
    margin-bottom: 0;
}
.ctext h4{
    font-size: ;
    color: ;
    font-weight: ;
}
