*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}

/* header */
header{
    padding: 14px 0px;
    background-color: #7E33E0;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header4 {
    display: flex;
    gap: 50px;
}
.header4 a{
    font-size: 16px;
    color: #F1F1F1;
    font-weight: 600;
    font-family: "Lato", sans-serif;
}
.header2{
    display: flex;
    gap: 26px;
}
.header5 a{
    font-size: 16px;
    color: #F1F1F1;
    font-weight: 600;
    padding-left: 16px;
    font-family: "Lato", sans-serif;
}
.header6 a{
    font-size: 16px;
    color: #F1F1F1;
}
/* navber */
.navbar-brand{
    padding-right: 50px;
}
.navbar1 ul li a{
    color: #0D0E43;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.navbar1 ul li{
    padding-left: 30px;
}
.navbar1 ul li a:hover{
    color: #FB2E86;
}
form{
    position: relative;
}
.btn{
    padding: 6px 8px;
    background-color: #FB2E86;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}
.form-control{
    background-color: #D9D9D9;
}
.btn:hover{
    background-color: #FB2E86;
}
/* banner */
#mansur_hed{
    background-color: #F2F0FF;
    /* padding: 0px 40px; */
    padding-bottom: 40px;
}
.mansur_20{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.mansur_23{
    padding-top: 100px;
}
.mansur_23 h4{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FB2E86;

}
.mansur_23 h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #000;
}
.mansur_23 p {
     font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #8A8FB9;

}
.mansur_23 button{
    padding: 5px 10px;
    background-color: #FB2E86;
    color: #fff;
    border: none;
    text-align: center;
}
.mansur_24{
    padding-top: 20px;
}
/* product */
#product{
    margin-top: 100px;
    margin-bottom: 70px;
}
.product1 h2{
    text-align: center;
    font-size: 42px;
    color: #1A0B5B;
    font-weight: 400;
    padding-bottom: 48px;
    font-family: 'Josefin Sans', sans-serif;
}
.product2{
    display: flex;
    justify-content: space-between;
}
.product3{
    padding: 11px 60px;
    background-color: #F6F7FB;
}
.picon{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}
.picon i {
    color: #F6F7FB;
}
.pimage img{
    display: block;
    margin: auto;
}
.pbtn{
    text-align: center;
}
.pbtn button{
    padding: 4px 10px;
    color: #F1F1F1;
    border: none;
    background-color: #08D15F;
}
.ptext{
    padding: 15px;
    text-align: center;
}
.ptext h3{
    font-size: 18px;
    color: #FB2E86;
    font-weight: bold;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
.i1{
    color: #05E6B7;
    font-size: 25px;
}
.i2{
    color: #F701A8;
    font-size: 25px;
}
.i3{
    color: #00009D;
    font-size: 25px;
}
.ptext h5{
    font-size: 14px;
    color: #151875;
    font-weight: 400;
    padding: 5px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.ptext span{
    font-size: 14px;
    color: #151875;
    font-weight: 400;
    padding: 5px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.phover:hover .picon i{
    color: #00009D;transition: all ease-in 0.5s;
} 
.phover:hover .ptext{
    background-color: #00009D;
    color: #00009D;transition: all ease-in 0.5s;
}
.phover:hover .ptext h3{
    color: #F1F1F1;
}
.phover:hover .ptext h5{
    color: #F1F1F1;
}
.phover:hover .ptext span{
    color: #F1F1F1;
}
.phover:hover .ptext .i3{
    color: #F1F1F1;
}
.phover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
}
/* Leatest */
#Leatest{
    padding-bottom: 80px;
}
#Leatest h2{
    padding-bottom: 15px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
}
.leatest2{
    padding-bottom: 54px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.leatest2 li{
    font-size: 18px;
    color: #151875;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.leatest2 li:hover{
    border-bottom: 3px solid red;
    transition: ease-out 0.3s ;
    color: red;
}
.leatest3{
    display: flex;
    justify-content: space-between;
}
.leatest5{
    padding: 15px 50px;
    background-color:#F6F7FB ;
    position: relative;
}
.licon{
    position: absolute;
    bottom: 0;
    left: 15px;
}
.licon a{
    display: block;
    padding-bottom: 15px;
}
.leatest6{
    display: flex;
    justify-content: space-between;
}
.leatest7{
    display: flex;
    gap: 8px;
}
.leatest4{
    position: relative;
}
.leatest8{
    padding: 5px 16px;
    background-color: #3F509E;
    color: #EEEFFB;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 20px;
    left: 10PX;
    transform: rotate(-40deg);
}
.leatest9{
    opacity: 0;
}
.leatest5:hover .leatest9{
    opacity: 100;
    transition: all ease-in-out 0.5s;
}
.leatest5:hover{
    background-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.leatest6 strong{
    font-size: 16px;
    color: #151875;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.leatest7 span{
    font-size: 14px;
    color: #151875;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.leatest7 h6{
    padding-top: 4px;
    font-size: 12px;
    color: #FB2448;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
#leatest1{
    padding-bottom: 100px;
}
/* suppor */
#suppor{
    padding-bottom: 100px;
}
.suppor1{
    text-align: center;
    padding: 50px 26px 45px 26px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
}
#suppor h3{
    color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 50px;
}
.suppor1 h4{
    color: #151875;
    font-size: 22px;
    padding-top: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.suppor1 span{
    color: #1A0B5B;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
}
/* uninque */
#unique{
    margin-bottom: 100px ;
    padding: 15px 0;
    background-color: #F1F0FF;
}
.unique1{
    margin: auto;
    align-items: center;
}
.unique2{
    margin-left: 70px;
}
.unique2 h3{
    font-size: 30px;
    color: #151875;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.unique2 span{
    font-size: 16px;
    color: #ACABC3;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.unique3{
    margin-top: 35px;
    gap: 19px;
}
.unique4 button{
    padding: 12px 20px;
    font-size: 15px;
    color: #FFFF;
    font-weight: 500;
    background-color: #FB2E86;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}
.unique5 strong{
    font-size: 13px;
    color: #151875;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.unique5 p{
    font-size: 13px;
    color: #151875;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
/* trending */
#trending{
    padding-bottom: 100px ;
}
#trending h3{
    text-align: center;
    font-size: 42px;
    color: #151875;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 30px;
}
.trending1{
    padding: 12px;
    background-color: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 10px 0px;
}
.trending2{
    text-align: center;
    padding: 25px;
    background-color: #F5F6F8;
}
.trending3{
    text-align: center;
    padding-top: 15px;
}
.trending3 strong{
    font-size: 16px;
    color: #151875;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
.trending3 p span{
    padding-left: 10px;
    font-size: 12px;
    color: #15187549;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.tre{
    gap: 20px;
    padding-bottom: 35px;
}
.trending4{
    padding: 34px 0px 0px 25px;
    background-color: #FFF6FB;
}
.trending4 h6{
    font-size: 26px;
    color: #151875;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.trending4 a{
    font-size: 16px;
    color: #FB2E86;
    font-weight: 600;
    border-bottom: 2px solid #FB2E86;
    font-family: 'Josefin Sans', sans-serif;
}
.trn1{
    gap: 40px;
}
.timg{
    margin-left: 150px;
}
.timg1{
    padding-bottom: 33px;
    margin-left: 0px;
}
.trending6{
    padding: 0 10px;
    background-color: #F5F6F8;
}
.trending5{
    align-items: center;
    gap: 20px;
}
.trending7 h5{
    font-size: 16px;
    color: #151875;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}
.trending7 strong{
    font-size: 12px;
    color: #151875;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
#t5{
    margin: 45px 0px;
}
.main:hover{
    background-color: #F5F6F8;
    transition: all o.1s;
}
.trending4:hover{
    background-color: #F5F6F8;
    transition: all ease-in-out 0.3s;
}
/* discount */
#discount{
    margin-bottom: 80px;
}
#discount h2{
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #151875;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.d2{
    align-items: center;
}
.d3{
    display: flex;
    justify-content: space-between;
}
.dtext h3{
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    color: #151875;
    font-family: 'Josefin Sans', sans-serif;
}
.dtext h5{
    padding-bottom: 15px;
    font-size: 3p0x;
    font-weight: 400;
    color: #FB2E86;
    font-family: 'Josefin Sans', sans-serif;
}
.dtext p{
    padding-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
    color: #B7BACB;
    font-family: 'Josefin Sans', sans-serif;
}
.dtext p i{
    color: #7569B2;
}
.dtext button{
    padding: 15px 40px;
    background-color: #FB2E86;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}
#categories{
    padding-bottom: 100px;
}
#categories h3{
    padding-bottom: 48px;
    text-align: center;
    color: #151875;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
.Categories_3{
    display: flex;
    gap: 20px;
}

.cat_item{
    text-align: center;
}
.cat_item h6{
    padding-top: 20px;
}
.cat_img{
    width: 220px;
    height: 220px;
    background: #f5f5f5;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cat_img img{
    width: 120px;
    z-index: 2;
}
.view_btn{
    position: absolute;
    bottom: 20px;
    background: green;
    color: white;
    border: none;
    padding: 8px 15px;
    display: none;
    z-index: 3;
}
.cat_img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-left-color: purple;
    border-bottom-color: purple;
    transform: rotate(0deg);
    opacity: 0;
    transition: 0.4s;
}
.cat_img:hover::after{
    opacity: 1;
    transform: rotate(40deg);
}
.cat_img:hover .view_btn{
    display: block;
}
/* newslater */
#newslater{
    text-align: center;
    padding-bottom: 96px;
}
.nimg{
    text-align: center;
    position: relative;
}
.newslater1{
    position: absolute;
    top: 38%;
    left: 35%;
    text-align: center;
}
.newslater1 h3{
    font-size: 30px;
    color: #151875;
    font-weight: 600;
    padding-bottom: 20px;
}
.newslater1 button{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    border: none;
    background-color: #FB2E86;
    font-family: 'Josefin Sans', sans-serif;
}
.nimg2{
    padding-top: 86px;
    margin: auto;
}
/* blog */
#blog{
    padding-bottom: 100px;
}
#blog h3{
    text-align: center;
    padding-bottom: 60px;
    font-size: 42px;
    color: #151875;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
.blog1 img{
    border-radius: 8px;
}
.blog2{
    padding: 20px 0px 35px 15px;
}
.blog2 strong{
    font-size: 14px;
    color: #151875;
    font-weight: 400;
    padding-right: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
.blog2 strong i{
    padding-right: 20px;
    color:#FB2E86;
}
.blog2 span{
    font-size: 14px;
    color: #151875;
    font-weight: 400;
    padding-right: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
.blog2 span i{
    padding-right: 20px;
    color:#FFA454;
}
.blog2 h6{
    font-size: 20px;
    color: #151875;
    padding-top: 20px;
    padding-bottom: 8px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.blog2 p{
    font-size: 16px;
    color: #72718F;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}
.blog2 a{
    font-size: 16px;
    color: #151875;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 1px solid;
    font-family: 'Josefin Sans', sans-serif;
}
.bmain{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 18px 0px;
}
/* footer */
#footer1{
    padding: 95px 0 100px 0;
    background-color: #EEEFFB;
}
.humayun7{
    gap: 30px;
}
.fmain{
    width: 30%;
}
.fmain2{
    width: 20%;
}
.f1{
    padding-bottom: 25px;
}
.f2 form input{
    font-size: 16px;
    color: #8A8FB9;
    width: 100%;
    outline: 0;
    border-radius: 3px;
    border: none;
    padding: 14px 20px 11px 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.f2 form button{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 11px 35px;
    border-radius: 3px;
    border: none;
    background-color: #FB2E86;
    font-family: 'Josefin Sans', sans-serif;
}
.f2 form{
    position: relative;
}
.f2 form button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.f2 p{
    font-size: 14px;
    color: #8A8FB9;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.f2 strong{
    font-size: 13px;
    color: #8A8FB9;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.f3 h4{
    margin-bottom: 30px;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.f3 ul{
    padding-left: 0;
}
.f3 ul li{
    font-size: 16px;
    color: #8A8FB9;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}